.myBtn{
    width: 200px;
    height: 150px;
    border: 2px solid rgba(85, 120, 201, 0.726);
    margin : 0 1% 10px 1%;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(18, 94, 138, 0.753);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.795);
    transition: all 0.6s;
    display: inline-block;
}

.myBtn:hover{
    transform: scale(0.95);
    border: 2px solid rgb(85, 120, 201);
    color: rgb(18, 94, 138);
    background-color: rgba(135, 207, 235, 0.082);
}
.myBtn:active{
    background-color: rgba(25, 36, 41, 0.199);
    transition: all 0.15s;
}
.container{
    margin-top: 5%;
    width: 40%;
}
#aboutMe{
    color: rgb(10, 87, 117);
    height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
}
