*{ 
    padding: 0; 
    margin: 0; 
}

/* BWrite, BList, BDetail */ 
.containerBox{
    margin: 3%;
    width: 70%;
    display: inline-block;
}

/* BDetail */
.col{
    border: 1px solid rgb(162, 172, 204);
    height: 40px;
    display: inline-flex;
    padding: 1.4em;
    border-radius: 5px;
}
.row{
    display: inline-block;
    box-shadow: 0 0 0 px skyblue;
}
#box1 .col, #box2 .col{
    align-items: center;
}
#box3 .col{
    height: 500px;
}
.btnBox{
    margin: 4%;
}
#detailBox{
    padding: 2.2em;
    border-radius: 7px;
    border: 3mm ridge rgba(125, 141, 231, .8);
}
