*{ 
    padding: 0; 
    margin: 0; 
}
.container{
    background-color: aqua;
}
.col{
    border: 1px solid black;
    height: 40px;
    display: inline-flex;

    align-items: center;
}
.row{
    display: inline-block;
}
.bss{
    margin: 0;
}